/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

body {
  font-size: 16px;
  line-height: 1.5;
}

.flyde-flow-editor {
  color: black;
  position: absolute;
}

._hj_feedback_container {
  --hjFeedbackAccentColor: var(--ifm-color-primary);
}
