/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

body {
  font-size: 16px;
  line-height: 1.5;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.gh-stars-wrapper {
  display: flex;
}

.project-editor {
  color: black;
  position: absolute;
}

._hj_feedback_container {
  --hjFeedbackAccentColor: var(--ifm-color-primary);
}
