.selection-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 10px;
  display: inline-flex;
  border-radius: 5px;
  background: $white;
  align-items: center;
  gap: 6px;
  font-size: 10px;
  z-index: 1;
  user-select: none;

  button {
    font-size: 10px;
    padding: 2px 4px !important;
    min-height: 18px !important;
  }

  &.dark {
    background: $neutral-800;
    color: $neutral-100;
  }
}
