.integrated-flow-header {
  background: white;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 14px 20px 14px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  // border-bottom: 1px solid #D0D0D0;
  user-select: none;

  padding-left: 25px; // for the left-hand menu

  height: 44px;



  .logo {
    // position: relative;
    width: 100px;
    // top: 24px;
    // left: 23px;
    cursor: pointer;
  }

  > aside {
    // position: absolute;
    // top: 6px;
    // right: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3px;

    .help-container {
      margin-bottom: 3px;
      margin-right: 8px;
    }
  }


  // .user-profile {
  //   top: 10px;
  //   position: absolute;
  //   right: 20px;
  // }

  // .help-container {
  //   top: 10px;
  //   right: 60px;
  //   position: absolute;
  // }

  aside {
    display: flex;
    flex-direction: row;
  }

}
