@import "../../lib/common.scss";

.node-io-view {
  .node-io-view-inner {
    @include base-node;
    line-height: 1;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 8px;
    font-weight: 500;
  }

  &.input {
    .node-io-view-inner {
      border: 2px solid $tblue-300;
    }
  }

  &.output {
    .node-io-view-inner {
      border: 2px solid $green-300;
    }
  }

  &.active .node-io-view-inner {
    background: #c8ffc7;
  }
}
