/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #007EC6;
  --ifm-color-primary-dark: #00659f;
  --ifm-color-primary-darker: #00507e;
  --ifm-color-primary-darkest: #003b5d;
  --ifm-color-primary-light: #0085d2;
  --ifm-color-primary-lighter: #30a7ec;
  --ifm-color-primary-lightest: #72cbff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

mark {
  background-color: #d7f0ff;
}

video {
  /* object-fit: cover; */
  /* top: 0; */
  /* right: 0; */
  /* left: 0; */
  /* bottom: 0; */
  /* opacity: 0.5; */
  display:inline-block;
  z-index: 0;
  left: 0;
  right: 0;
  height: 100%;
  /* filter: blur(10px); */
}

.videos-container {
  object-fit: cover;
  position: absolute;
  height: 100%;
  filter: blur(3px);
  opacity: 0.2;
}



.container {
  z-index: 1;
  /* opacity: 0; */
}


