@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700");

.hero {
  padding: 0;
  overflow: hidden;
  position: relative;
  --ifm-hero-text-color: #f8f8f8;

  .container {
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;

    gap: 0rem;

    .content-wrapper {
      padding-top: 2rem;
      flex: 4;
      text-align: left;
      padding-right: 2rem;

      .hero__title {
        font-size: 3.5rem;
        margin: 0;
        font-weight: 600;
      }

      .hero__subtitle {
        font-size: 1.2rem;
        margin: 10px 0px;

        a {
          color: white;
          font-weight: 600;
        }
      }

      .buttons-container {
        display: flex;
        margin-top: 3rem;
        flex-direction: row;
        gap: 0.5rem;

        margin: 10px auto;
      }
    }

    .example-container {
      flex: 5;
      display: flex;
      flex-direction: column;
      max-width: 800px;
      // width: 50rem;
      height: 35rem;
      min-height: 25rem;

      .example-tip {
        margin: 10px 0;
        font-size: 0.8rem;
        color: #efefef;
        text-align: right;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;

        &.hidden {
          visibility: hidden;
        }
      }

      .open-in-playground {
        color: white;
        font-weight: 600;
        margin-left: auto;
        text-decoration: underline;
      }

      .example-actions {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6px;

        button {
          font-size: 12px;
          padding: 3px 6px;
        }

        .label {
          font-size: 12px;
        }
      }
    }

    .hero-example {
      flex: 1;
    }
    .github-star {
      display: inline-flex;
      align-items: center;
      font-size: 0.8rem;
      gap: 5px;
      justify-self: flex-start;
      padding: 4px 12px;
      color: #efefef;
      border: 1px solid #efefef;
      border-radius: 50px;
      margin-bottom: 5px;
      cursor: pointer;

      svg {
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
        transform-origin: center center;
      }

      &:hover {
        background: #efefef;
        color: #0b2d46;

        svg {
          transform: rotate(72deg); // one rotation of the star
        }
      }

      svg {
        width: 18px;
        height: 18px;
      }
      > span {
        line-height: 1;
      }
    }
  }

  .gradient {
    font-weight: 800;
    background: linear-gradient(90deg, #ffebe6 0%, #a4deff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  // padding-bottom: 20px; // for video

  .horizontal-finger {
    display: inline-block;
    &.nudge {
      animation: shake-hor 1.5s infinite;
      transform-origin: center center;
    }
  }

  .vertical-finger {
    display: inline-block;
    &.nudge {
      animation: shake-ver 1.5s infinite;
      transform-origin: center center;
    }
  }
}

@keyframes shake-hor {
  0% {
    transform: translateX(0);
  }
  46% {
    transform: translateX(0);
  }
  48% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  52% {
    transform: translateX(-4px);
  }

  54% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shake-ver {
  0% {
    transform: translateY(0);
  }
  46% {
    transform: translateY(0);
  }
  48% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(0);
  }
  52% {
    transform: translateY(-3px);
  }

  54% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.hero--primary {
  --ifm-hero-background-color: #182732;
}

.mobile-warning {
  display: none;
}

.features-strip {
  font-size: 1.5rem;
  padding: 2rem 3rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-width: var(--ifm-container-width-xl);
  margin: 0 auto;

  .feature-highlight {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    &:not(:last-child):after {
      content: "";
      display: inline-block;
      margin-left: 4rem;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #0d557f;
    }

    a {
      color: #101010;
      text-decoration: none;
    }
  }
}

.feature-strip {
  background: #f3f4f6;

  .feature-strip-inner {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 0 auto;
    padding: 2rem 3rem;
    max-width: var(--ifm-container-width-xl);

    .content-container {
      h3 {
        font-size: 2rem;
        margin-bottom: 20px;
        font-weight: 600;
      }
    }

    .image-container {
      flex-shrink: 0;
    }

    .image-caption {
      font-size: 1rem;
      color: #1f2937;
      // text-align: center;
      flex-wrap: wrap;
      // font-style: italic;
    }
  }

  &:nth-child(even) {
    background: white;

    .feature-strip-inner {
      flex-direction: row-reverse;
    }
  }
}

.use-cases {
  h2 {
    font-size: 2rem;
    margin: 3rem 0 5rem;
    font-weight: 600;
    text-align: center;
  }

  .use-case {
    background: #f3f4f6;

    .use-case-inner {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      margin: 0 auto;
      padding: 2rem 3rem;
      max-width: var(--ifm-container-width-xl);

      h3 {
        font-size: 1.2rem;
        margin-bottom: 20px;
        font-weight: 600;
        flex: 1;
      }

      .use-case-description {
        flex: 1;
      }
    }

    &:nth-child(odd) {
      background: white;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .hero .container {
    padding: 2rem 1rem 2rem 1rem;
  }

  .features-strip {
    gap: 2rem;

    .feature-highlight:after {
      margin-left: 2rem !important;
    }
  }
}

@media only screen and (min-width: 1141px) {
  .hero-vertical-only {
    display: none !important;
  }
}

@media only screen and (max-width: 1140px) {
  .hero-horizontal-only {
    display: none !important;
  }

  .hero .container {
    max-width: 800px;
    flex-direction: column;
    gap: 20px;

    .example-container {
      min-height: 45rem;
    }
  }

  .features-strip {
    font-size: 1.2rem;
  }

  .feature-strip {
    .feature-strip-inner {
      // display: flex;
      flex-direction: column-reverse !important;
    }
  }

  .use-cases {
    .use-case {
      .use-case-inner {
        flex-direction: column !important;
        gap: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .features-strip {
    font-size: 1.2rem;
    padding: 1rem 0.25rem;
    gap: 0.8rem;
    flex-direction: column;

    .feature-highlight {
      flex-direction: column !important;
      justify-content: center;

      &:after {
        margin-left: 0 !important;
        margin-top: 0.8rem !important;
        width: 3px !important;
        height: 3px !important;
      }
    }
  }

  .hero .container {
    padding-top: 1rem;
    padding-left: 1.5rem;

    .content-wrapper {
      padding-right: 0;

      .hero__title {
        font-size: 2.75rem;
      }
    }
    .example-container {
      min-height: 35rem;
    }
  }
  .home-page-main-content {
    padding-top: 120px;
  }

  .buttons-container .button {
    font-size: 16px;
    padding: 6px 20px;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__subtitle {
    font-size: 1.2rem;
  }

  .mobile-warning {
    display: block;
  }
}

// lazy-added tailwind

.font-thin {
  font-weight: 300;
}
