.hero {
    padding: 0;
    overflow: hidden;
    position: relative;

    .container {
        padding: 2rem 2rem 6rem 2rem;
        text-align: center;
        position: relative;
    }
    // padding-bottom: 20px; // for video
    
}

.mobile-warning {
    display: none;
}

.home-page-main-content {
    padding-top: 80px;
    margin-top: -224px
}

.video-container {
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    /* z-index: 4; */
    margin: 0 auto;
    width: 320px;
    height: 195px;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 2;
}

// mobile
@media only screen and (max-width: 600px) {

    
    .home-page-main-content {
        padding-top: 120px;
    }

    
    .hero__title {
        font-size: 2rem;
    }

    .hero__subtitle {
        font-size: 1.2rem;
    }

    .integration-points {
        width: 180px !important;
    }

    .hero .container {
        padding: 2rem 1rem 4rem 1rem;
    }

    .videos-container {
        left: -200px;
        filter: blur(1px);
        pointer-events: none;

        video {
            pointer-events: none;
        }
    }

    .examples__menu {
        > li a {
            padding: 5px 10px;
        }
    }

    .playground-container {
        .playground-description, .playground-extra {
            font-size: 1rem !important;
        }

        .playground {
            flex-direction: column !important;

            .actions-menu {
                bottom: 50px;
            }
        }
    }

    
    .mobile-warning {
        display: block;
    }

    // .heroBanner_src-pages-index-module {
    //     padding: 1rem;
    // }
}



