.main-instance-events-indicator {
    // small pill-like blue tag on the bottom-center of the screen
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    // background: #e7f8ff;
    border-radius: 15px;
    padding: 4px 12px;
    font-size: 14px;
    opacity: 0.8;
    font-weight: 600;
    color: #333;
    z-index: 1;


    &:hover {
      opacity: 1;
    }
  }