@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

@import "~@flyde/flow-editor/src/index.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

button {
  font-family: "DM Sans", sans-serif;
}

.home-page {
  flex: 1;
  width: 100%;
  padding: 50px;
  a {
    display: block;
    margin: 20px auto;
    font-size: 30px;
    text-align: center;
  }
}
