$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$green-50: #f0fdf4;
$green-100: #dcfce7;
$green-200: #bbf7d0;
$green-300: #86efac;
$green-400: #4ade80;
$green-500: #22c55e;
$green-600: #16a34a;
$green-700: #15803d;
$green-800: #166534;
$green-900: #14532d;
$green-950: #104429; // Custom

$trigg-50: #fef7ee;
$trigg-100: #fdedd7;
$trigg-200: #f9d7af;
$trigg-300: #f5b97c;
$trigg-400: #f09247;
$trigg-500: #ec7423;
$trigg-600: #dd5b19;
$trigg-700: #b74417;
$trigg-800: #92371a;
$trigg-900: #762f18;
$trigg-950: #3f160b;

// $tblue-200: #cce4f8;
// $tblue-300: #83cff6;
// $tblue-400: #41b6ef;
// $tblue-500: #189bdc;
// $tblue-600: #0b7dbe;
// $tblue-700: #0a649a;
// $tblue-800: #0d557f;
// $tblue-900: #114769;

$tblue-200: #bbd9fc;
$tblue-300: #94c4fa;
$tblue-400: #64a8f7;
$tblue-500: #2887f4;
$tblue-600: #0c75ee;
$tblue-700: #0b69d6;
$tblue-800: #0956af;
$tblue-900: #063e7e;

$red-50: #fef2f2;
$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;
$red-950: #701111; // Custom

$purple-50: #faf5ff;
$purple-100: #f3e8ff;
$purple-200: #e9d5ff;
$purple-300: #d8b4fe;
$purple-400: #c084fc;
$purple-500: #a855f7;
$purple-600: #9333ea;
$purple-700: #7e22ce;
$purple-800: #6b21a8;
$purple-900: #581c87;
$purple-950: #4c167a; // Custom

$neutral-50: #fafafa;
$neutral-100: #f4f4f5;
$neutral-200: #e4e4e7;
$neutral-300: #d4d4d8;
$neutral-400: #a1a1aa;
$neutral-500: #71717a;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #18181b;
$neutral-950: #0f0f0f; // Custom
