.macro-instance-editor {
  > main {
    max-height: 65vh;
    overflow-y: auto;
  }

  .fork-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
  }

  .macro-label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    > span {
      margin-top: 4px;
    }
  }

  .macro-description {
    margin-bottom: 10px;
  }

  .config-helper-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .bp5-form-group {
    margin-bottom: 5px;
  }
}
