.macro-instance-editor {
  > main {
    max-height: 65vh;
    overflow-y: auto;
  }

  .macro-label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    > span {
      margin-top: 4px;
    }
  }
}
