.base-part-view-vp-fixer {
  transform-origin: top left;
  will-change: transform;
}

.base-part-view-wrapper {
  position: absolute;
  transform-origin: top left;
  transition: background-color ease-out 3s, box-shadow ease-out 3s;
}

.base-part-view-vp-fixer.display-mode {
  position: initial;

  .base-part-view-wrapper {
    position: initial;
  }

  .base-part-view {
    position: initial;
  }
}

.base-part-view {
  transform-origin: top left;
  display: inline-block;
  position: absolute;
  transition: box-shadow ease-in-out 0.5s;
  will-change: transform, width;
}

// .base-part-view:not(.selected) .base-part-view-inner:hover {
//   border: 2px solid #007ec6;
// }

// .base-part-view.selected .base-part-view-inner {
//   border: 2px solid transparent;
//   background: #007ec6;
//   color: white;
//   transition: background-color none;
// }

// .base-part-view:not(.native) {
//   cursor: pointer;
// }

.base-part-view.dragged {
  opacity: 0.8;
}

// .base-part-view {
//   padding-top: 15px;
// }

// .base-part-view {
//   padding-bottom: 15px;
// }

