.base-node-view-vp-fixer {
  transform-origin: top left;
  will-change: transform;
}

.base-node-view-wrapper {
  position: absolute;
  transform-origin: center center;
}

.base-node-view {
  transform-origin: center center;
  display: inline-block;
  position: absolute;
  will-change: transform;
}

.base-node-view.dragged {
  opacity: 0.8;
}
