@import './base-part-view/style.scss';
@import './connection-view/style.scss';
@import './instance-panel/styles.scss';
@import './instance-view/style.scss';
@import './layout-debugger/styles.scss';
@import './part-io-view/style.scss';
@import './pin-view/pin-view.scss';
@import './quick-add-menu/style.scss';
@import './side-bar/style.scss';
@import './runtime-player/events.scss';

// $background-gradient: linear-gradient(249.43deg, #E8F0EC 3.24%, #EDF2F2 26.19%, #E5EDF2 49.64%, #E8F3F4 70.64%, #F1F1F1 97.01%);
$background-gradient: linear-gradient(249.43deg, #ffffff 3.24%, #f7fcff 26.19%, #ffffff 49.64%, #f7fcff 70.64%, #ffffff 97.01%);

.grouped-part-editor {
  // background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  background: $background-gradient;
  // background: white;

  // background-color: #27363e;

  z-index: 0;  

  display: flex;

  & > .side-bar {

    width: 40px;
    white-space: nowrap;

    &.expanded {
      width: 250px;
    }
    
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
  }

  & > main {
    flex: 1;
    overflow: hidden;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23333333' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3C/g%3E%3C/svg%3E");
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='98' height='98' fill-opacity='0.8' fill='%2327363E'/%3E%3C/svg%3E");
  }

  .part-inputs,
  .part-outputs {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    display: flex;
    align-content: space-between;
    position: absolute;
    justify-content: space-around;
    z-index: 1;

    &.part-inputs {
      top: 0;
    }

    &.part-outputs {
      bottom: 0;
    }
  }

  .selection-box {
    background: rgba(101, 200, 255, 0.5);
    border: 1px solid #f7f7f7;
    opacity: 0.7;
    position: absolute;
    z-index: 2;
  }

  .edit-group-modal {
    position: fixed;
    z-index: 3;
    width: 80vw;
    height: 90vh;
    background: rgba(39, 54, 62, 0.95);
    border: 1px solid #787878;
    box-sizing: border-box;
    border-radius: 5px;
    left: 10vw;
    top: 5vh;
    bottom: 5vh;
    display: flex;
    flex-direction: column;

    > header {
      background: #2f2f2f;
      border-radius: 5px 5px 0 0;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 8px 20px;
      color: white;
      font-weight: 300;
      font-size: 12px;
      display: flex;
      align-items: center;

      .text-wrapper {
        flex: 1;
      }
    }

    > main {
      position: relative;
      flex: 1;
      overflow: auto;
      display: flex;
    }
  }

  :focus {
    outline: none;
  }

  .zoom-slider {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 150px;
    height: 30px;
  }

  .temp {
    position: absolute;
    bottom: 20px;
    right: 250px;
  }

  .inline-part-container {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    // z-index: 999999;
    border: 1px solid gray;

    > header {
      background: white;
      padding: 10px 5px;
    }


    .grouped-part-editor {
			display: flex;
			// overflow: hidden;
			flex: 1;


			> main {
				box-shadow: none;
			}

			.zoom-slider {
				display: none;
			}
		}
  }

  .debug-info {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background: rgba(166, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-family: monospace;
  }
}
