.output-log {
    background: #fafafa;
    flex: 1;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      padding: 5px 20px;
      font-size: 18px;
      font-weight: 600;
      // background: #003d60;
      color: #202020;
      border-bottom: 1px solid #dfdfdf;
      margin-bottom: 2px;

      .clear-btn {
        margin-left: auto;
      }
    }

    > main {
      overflow: auto;

      li {
        margin: 0;
        padding: 0;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }

    .empty-state {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 300;
        color: #9e9e9e;
    }

    .log-item {
      padding: 3px 20px;
      display: flex;
      align-items: center;
      // padding: 3px 0px;

      &:hover {
        background-color: #efefef;
      }

      > main {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 5px;
      }

      > aside {
        font-size: 12px;
        font-weight: 600;
        color: #9e9e9e;
        // flex: 0;
      }
    }
  }