.omnibar-item {
    .title {
        font-weight: bold;
        display: flex;
        justify-content: space-between;

        .extra {
            opacity: 0.8;
            font-weight: 400;
        }
    }

    .description {        
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: normal;
    }

    &.active {
        .description {        
            white-space: break-spaces;
        }
    }

    // dfgf
}