.code-part-editor {
  padding: 20px;
  background: #efefef;
  flex: 1;
  overflow: auto;

  .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      flex: 1;
      &:not(:last-child) {
        padding-right: 10px;
      }
    }
  }
}
