.App {
  text-align: center;
}

button {
  margin: 0 10px;
}

span { 
  width: 100px;
  display: inline-block;
}

.counters-list {
  margin: 0 auto;
  display: inline-block;
}

.counters-list > div {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  margin-bottom: 10px;
}

.counters-list > div:last-of-type {
  margin-bottom: 30px;
}

span, button {
  font-size: 20px;
}

