@import  '../../lib/common.scss';

$const-color: #FCF0FF;
$trigger-pin-width: 40px;
$half-of-pin-height: 16px;

.ins-view {
  display: inline-block;
  position: absolute;
  // transform: rotate(45deg);

  .inputs,
  .outputs {
    display: flex;
    width: 100%;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
  }

  // .inputs {f
  //   padding-right: $trigger-pin-width + 10px;

  //   .pin[data-pin-id="__trigger"] {
  //     position: absolute;
  //     right: 0px;
  //   }
  // }
}


.ins-view {
  transform-origin: top left;
  display: inline-block;
  position: absolute;
  transition: box-shadow ease-in-out 0.15s;
  will-change: transform, width;
  z-index: 1;

  &.display-mode {
    position: initial;
  }

  &.dragged {
    opacity: 0.8;
  }
  
  &.no-inputs {
    padding-top: 15px;
  }
  
  &.no-outputs {
    padding-bottom: 15px;
  }

  .ins-view-inner {
    @include base-part;

    .svg-inline--fa {
      // color: hsl(var(--part-color), 10%);
      color: var(--part-color);
      filter: brightness(0.75); // might be possible using css vars but it's conflicting with scss in a way (https://blog.jim-nielsen.com/2019/dynamically-darken-a-color-in-css/)
    }
    

    &.size-small {
      font-size: 12px;
      padding: 3px 10px 2px;
    }

    &.size-regular {
      font-size: 18px;
      padding: 6px 12px 4px;

      &:not(:hover):not(.selected):not(.closest) {
        border-bottom: 3px solid var(--part-color, inherit);
      }
    }

    &.size-large {
      font-size: 24px;
      padding: 8px 15px 6px;
      border-radius: 8px;
      &:not(:hover):not(.selected):not(.closest) {
        border: 3px solid var(--part-color, inherit);
      }
    }
  }

  &.inline-part-edited {

    z-index: 2; // otherwise other instances get rendered on top of inline part editor

    > .base-part-view .base-part-view-inner {
      // padding: 0;
      overflow: hidden;
    }

    @at-root {
      .inline-editor-portal-root .inline-group-editor-container {
        // width: 400px;
        // height: 300px;
        // max-width: 600px;

        width: 80%;
        height: 85%;
        left: 10%;
        top: 7.5%;
        
  
        background: #ffffff;
      
        box-shadow: $shadow-a;
        // position: relative;
        
        z-index: 2;
        display: flex;
        flex-direction: column;
        position: absolute;
        overflow: hidden;
  
        > header {
          font-size: 20px;
          font-weight: 600;
          text-align: center;
          padding: 4px 15px 3px;
          cursor: move;
          user-select: none;
          z-index: 1;
        }
  
        > .grouped-part-editor {
          flex: 1;
          display: flex;
          position: relative;
          overflow: hidden;
        }
      }
    }
    

    
  }

  .pin {
    transition: transform 0.1s ease-in-out;
  }

  &:not(:hover) {
    &:not(.force-minimized-input) {
      .pin.input.minimized:not(.selected) {
        // the -half of pin thing + scale Y 0 is for the connections to be drawn to the center of the intance
        transform: translateY(calc(100% - #{$half-of-pin-height})) scaleY(0);
      }
    }
  
    &:not(.force-minimized-output) {
      .pin.output.minimized:not(.selected) {
        // the -half of pin thing + scale Y 0 is for the connections to be drawn to the center of the intance
        transform: translateY(calc(-100% + #{$half-of-pin-height})) scaleY(0);
      }
    }
  }
}


