.base-part-editor {
	.form-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

         > div {
             flex: 1;
             &:not(:last-child) {
                 padding-right: 10px;
             }
         }
    }

    .preview-wrapper {
        display: flex;
        justify-content: center;
    }
}