@import '../../lib/common.scss';

.part-io-view {
  
  .part-io-view-inner {
    @include base-part;
    font-size: 18px;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 5px;
  }

  &.input  {
    .part-io-view-inner {
      @include custom-part-color(#E7F8FF);
    }
  }
  
  &.output {
    .part-io-view-inner {
      @include custom-part-color($output-color);
    }
  }

  &.active .part-io-view-inner {
    background: #c8ffc7;
  }

}
