@import "./AddNodeMenu/AddNodeMenu.scss";
@import "./PromptAIMenu/PromptAIMenu.scss";

.actions-menu {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  align-items: center;

  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  z-index: 1;
  border-radius: 5px 0 0 5px;
  border: 1px solid $neutral-400;
  overflow: clip;

  transition: opacity 0.05s ease-in-out, transform 0.05s ease-in-out;

  &:not(:hover) {
    // opacity: 0.95;
    // transform: translateX(-50%) translateY(40px);
    transform-origin: center;
  }

  .icon-wrapper {
    line-height: 0;

    svg {
      fill: currentColor;
    }
  }

  .action-button {
    background: white;
    width: 40px;
    height: 40px;
    color: $neutral-600;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: $neutral-100;
      // color: white;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  @at-root {
    .action-button-tooltip {
      .hotkey {
        // keyboard shortcut indicator
        display: inline-block;
      }
    }
  }
}

kbd {
  // keyboard shortcut indicator
  display: inline-block;
  margin: 0 5px;
  font-size: 0.8em;
  background: #dedede;
  color: #333;
  border-radius: 3px;
  padding: 2px 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
