@import "../../lib/common.scss";

.ins-view {
  display: inline-block;
  position: absolute;
  // transform: rotate(45deg);

  .inputs,
  .outputs {
    display: flex;
    width: 100%;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
  }
}

.ins-view {
  transform-origin: top left;
  display: inline-block;
  position: absolute;
  transition: box-shadow ease-in-out 0.15s;
  will-change: transform, width;
  z-index: 1;

  &[data-node-id="Comment"] {
    [data-pin-id] {
      display: none; // mega ugly hack to hide pins on comment node
    }
  }

  ul,
  ol {
    padding-left: 16px;
  }

  &.display-mode {
    position: initial;
  }

  &.dragged {
    opacity: 0.8;
  }

  &.no-inputs {
    padding-top: 15px;
  }

  &.no-outputs {
    padding-bottom: 15px;
  }

  .ins-view-inner {
    @include base-node;

    .svg-icon-container {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  &.inline-node-edited {
    z-index: 2; // otherwise other instances get rendered on top of inline node editor

    > .base-node-view .base-node-view-inner {
      // padding: 0;
      overflow: hidden;
    }

    @at-root {
      .inline-group-editor-container {
        // width: 400px;
        // height: 300px;
        // max-width: 600px;

        width: 80%;
        height: 85vh;
        left: 10%;
        top: 7.5%;

        // position: relative;

        > header {
          font-size: 20px;
          font-weight: 600;
          text-align: center;
          padding: 4px 15px 3px;
          // cursor: move;
          user-select: none;
          z-index: 1;
        }

        > main {
          flex: 1;
          display: flex;
          flex-direction: column;
          position: relative;
          overflow: hidden;
        }

        > main > .visual-node-editor {
          flex: 1;
          display: flex;
          position: relative;
          overflow: hidden;
        }
      }
    }
  }

  .pin {
    transition: transform 0.1s ease-in-out;
  }
}

.__react_component_tooltip.instance-info-tooltip {
  font-size: 14px;
  max-width: 400px;
  // min-width: 300px;
}
