@import "../../lib/common.scss";

$node-width: 160px;
$key-1: #2887f4;

.ins-view {
  .ins-view-inner {
    width: $node-width;
    background: linear-gradient(180deg, #000000 0%, #222222 100%);
    border-radius: 4px;
    border: 1px solid #2c2c2c;

    .node-header {
      background: #383838;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      padding: 2px 4px;
    }

    .node-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px 8px;
      gap: 5px;
      color: $key-1;

      .inputs,
      .outputs {
        flex: 1;
        flex-shrink: 0;
      }
    }
  }
}

.__react_component_tooltip.instance-info-tooltip {
  font-size: 14px;
  max-width: 400px;
  // min-width: 300px;
}
