// Theme colors
$dark-pin-text: #fff;
$light-pin-text: #333;
$dark-pin-handle-border: #aaaaaa;
$light-pin-handle-border: #666666;

.pin {
  cursor: pointer;
  user-select: none;

  .pin-inner {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

  &.input {
    .pin-inner {
      text-align: left;
    }
  }

  &.output {
    text-align: right;

    .pin-inner {
      text-align: right;
    }
  }

  user-select: none;

  &.dark {
    color: $dark-pin-text;
  }

  &:not(.dark) {
    color: $light-pin-text;
  }
}

.pin-handle {
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  border-radius: 50%;
  transition: width 0.15s ease-out, height 0.15s ease-out,
    transform 0.15s ease-out;

  &.dark {
    background: #ffffff;
    border: 1px solid $dark-pin-handle-border;
  }

  &:not(.dark) {
    background: #ffffff;
    border: 1px solid $light-pin-handle-border;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &.input {
    left: -1px;
    transform: translateX(-50%) translateY(-50%);
    &::before {
      left: 50%;
    }
  }

  &.output {
    right: -1px;
    transform: translateX(50%) translateY(-50%);
    &::before {
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  &:hover,
  &.closest {
    width: 13px;
    height: 13px;

    &.input {
      left: -1px;
    }

    &.output {
      right: -1px;
    }
  }

  &:hover {
    background: rgb(128, 187, 255);
  }

  &.selected {
    background: rgba(40, 135, 244, 1);
  }
}

@at-root {
  .__react_component_tooltip.pin-info-tooltip {
    font-size: 14px;
    // min-width: 300px;
    max-width: 400px;
  }

  .pin-info-tooltip {
    max-width: 400px;
  }
}
